@import "https://fonts.googleapis.com/css?family=Lato:300,400,700,900";

@import "https://fonts.googleapis.com/css?family=PT+Serif:400,700";

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* ----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

# Base - Reset

----------------------------------------------------------------------------- */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html button,html hr,html input {
	overflow:visible;
}

html audio,html canvas,html progress,html video {
	display:inline-block;
}

html progress,html sub,html sup {
	vertical-align:baseline;
}

html [type=checkbox],html [type=radio],html legend {
	box-sizing:border-box;
	padding:0;
}

html html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

html body {
	margin:0;
}

html article,html aside,html details,html figcaption,html figure,html footer,html header,html main,html menu,html nav,html section {
	display:block;
}

html figure {
	margin:1em 40px;
}

html hr {
	box-sizing:content-box;
	height:0;
}

html code,html kbd,html pre,html samp {
	font-family:monospace,monospace;
	font-size:1em;
}

html a {
	background-color:transparent;
	-webkit-text-decoration-skip:objects;
}

html abbr[title] {
	border-bottom:none;
	text-decoration:underline;
	text-decoration:underline dotted;
}

html b,html strong {
	font-weight:bolder;
}

html dfn {
	font-style:italic;
}

html mark {
	background-color:#ff0;
	color:#000;
}

html small {
	font-size:80%;
}

html sub,html sup {
	font-size:75%;
	line-height:0;
	position:relative;
}

html sub {
	bottom:-.25em;
}

html sup {
	top:-.5em;
}

html audio:not([controls]) {
	display:none;
	height:0;
}

html img {
	border-style:none;
}

html svg:not(:root) {
	overflow:hidden;
}

html button,html input,html optgroup,html select,html textarea {
	font-family:sans-serif;
	font-size:100%;
	margin:0;
}

html button,html select {
	text-transform:none;
}

html [type=reset],html [type=submit],html button,html html [type=button] {
	-webkit-appearance:button;
}

html [type=button]::-moz-focus-inner,html [type=reset]::-moz-focus-inner,html [type=submit]::-moz-focus-inner,html button::-moz-focus-inner {
	border-style:none;
	padding:0;
}

html [type=button]:-moz-focusring,html [type=reset]:-moz-focusring,html [type=submit]:-moz-focusring,html button:-moz-focusring {
	outline:ButtonText dotted 1px;
}

html fieldset {
	padding:.35em .75em .625em;
}

html legend {
	color:inherit;
	display:table;
	max-width:100%;
	white-space:normal;
}

html textarea {
	overflow:auto;
}

html [type=number]::-webkit-inner-spin-button,html [type=number]::-webkit-outer-spin-button {
	height:auto;
}

html [type=search] {
	-webkit-appearance:textfield;
	outline-offset:-2px;
}

html [type=search]::-webkit-search-cancel-button,html [type=search]::-webkit-search-decoration {
	-webkit-appearance:none;
}

html ::-webkit-file-upload-button {
	-webkit-appearance:button;
	font:inherit;
}

html summary {
	display:list-item;
}

html [hidden],html template {
	display:none;
}

/* Defaults */
html {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-rendering:optimizeLegibility;
}

*,:before,:after {
	box-sizing:inherit;
}

.preload * {
	-webkit-transition:none!important;
	-moz-transition:none!important;
	-ms-transition:none!important;
	-o-transition:none!important;
	transition:none!important;
}

img {
	-webkit-flex-shrink:0;
	-moz-flex-shrink:0;
	-ms-flex-shrink:0;
	flex-shrink:0;
	max-width:100%;
	vertical-align:bottom;
}

section {
	overflow:hidden;
}

::selection {
	background:#575bde;
	color:#fff;
}

::-moz-selection {
	background:#575bde;
	color:#fff;
}

/* -----------------------------------------------------------------------------

# Base - Typography

----------------------------------------------------------------------------- */
html {
	font-size:16px;
	font-weight:400;
	line-height:24px;
}

body {
	color:#110f24;
	font-family:"Lato",Helvetica,sans-serif;
	font-size:1rem;
	line-height:1.5rem;
	overflow-x:hidden;
}

a {
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
	color:#575bde;
	cursor:pointer;
	text-decoration:none;
}

a:hover:not(.button) {
	color:#110f24;
	opacity:.9;
}

blockquote {
	font-size:1.25rem;
	font-weight:400;
	letter-spacing:.3px;
	line-height:2rem;
	-webkit-border-radius:.1875rem;
	-moz-border-radius:.1875rem;
	border-radius:.1875rem;
	background:#f6f6f9;
	border-left:3px solid #ccced0;
	font-style:italic;
	margin:0 0 1rem;
	padding:1rem;
}

h1,h2,h3,h4,h5,h6 {
	margin:0 0 1rem;
}

h1:last-child,h2:last-child,h3:last-child,h4:last-child,h5:last-child,h6:last-child {
	margin:0;
}

h1,h2,h3 {
	font-family:"Lato",Helvetica,sans-serif;
}

h4,h5,h6 {
	font-family:"Lato",Helvetica,sans-serif;
}

h1 {
	font-size: 4rem;
	font-weight: 900;
	line-height: 5.25rem;
}

h1.hero {
	font-size: 3rem;
	font-weight: 900;
	line-height: 3.75rem;
}

@media only screen and (max-width: 767px) {
	h1 {
		font-size: 3rem;
		line-height: 3.75rem;
	}
	
	h1.hero {
		font-size: 2.5rem;
		line-height: 3.25rem;
	}
}

h2 {
	font-size: 3rem;
	font-weight: 900;
	line-height: 3.75rem;
}

@media only screen and (max-width: 767px) {
	h2 {
		font-size: 2.5rem;
		line-height: 3.25rem;
	}
}

h3 {
	font-size:2rem;
	font-weight:900;
	line-height:2.75rem;
}

@media only screen and (max-width: 767px) {
	h3 {
		font-size:1.75rem;
		line-height:2.25rem;
	}
}

h4 {
	font-size:1.5rem;
	font-weight:700;
	line-height:2.25rem;
}

h5 {
	font-size:1.25rem;
	font-weight:700;
	line-height:1.75rem;
}

h6 {
	font-size:1rem;
	font-weight:700;
	line-height:1.5rem;
	margin:0 0 .5rem;
}

p {
	margin:0 0 1rem;
}

p:last-child {
	margin:0;
}

.lead {
	margin-bottom:25px;
	font-size:1.5rem;
	font-weight:400;
	line-height:2rem;
}

@media only screen and (max-width: 479px) {
	.lead {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

.paragraph {
	font-size:1.25rem;
	font-weight:400;
	letter-spacing:.3px;
	line-height:2rem;
}

.paragraph.serif {
	font-family:"PT Serif",Georgia,serif;
}

@media only screen and (max-width: 479px) {
	.paragraph {
		font-size:1.125rem;
		letter-spacing:normal;
		line-height:1.75rem;
	}
}

.muted {
	opacity:.4;
}

.dark {
	color:#fff;
}

.dark a:not(.button) {
	color:#fff;
}

.dark blockquote {
	background:#110f24;
}

.dark p {
	opacity:.9;
}

/* -----------------------------------------------------------------------------

# Base - Grid

----------------------------------------------------------------------------- */
.row {
	display:table;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	width:100%;
}

.row .col-one-half {
	width:48%;
}

.row .col-one-third {
	width:30.6666666667%;
}

.row .col-one-fourth {
	width:22%;
}

.row .col-one-fifth {
	width:16.8%;
}

.row .col-one-eighth {
	width:9%;
}

.row .col-two-thirds {
	width:65.3333333333%;
}

.row .col-two-fourths {
	width:48%;
}

.row .col-two-fifths {
	width:37.6%;
}

.row .col-three-fourths {
	width:74%;
}

.row .col-three-fifths {
	width:58.4%;
}

.row .col-four-fifths {
	width:79.2%;
}

.row [class^="col-"] {
	float:left;
	margin:0 2%;
}

.row [class^="col-"]:first-child {
	margin-left:0;
}

.row [class^="col-"]:last-child {
	margin-right:0;
}

@media only screen and (max-width: 1023px) {
	.row [class^="col-"] {
		margin:3rem 2% 0;
		width:48%;
	}
	
	.row [class^="col-"]:nth-child(-n+2) {
		margin-top:0;
	}
	
	.row [class^="col-"]:nth-child(odd) {
		margin-left:0;
	}
	
	.row [class^="col-"]:nth-child(even) {
		margin-right:0;
	}
	
	.row [class^="col-"]:last-child:nth-child(odd) {
		width:100%;
	}
	
	.row [class*="-fifth"] {
		margin:3rem 0 0;
		width:100%;
	}
	
	.row [class*="-fifth"]:nth-child(2) {
		margin-top:3rem;
	}
}

@media only screen and (max-width: 767px) {
	.row [class^="col-"] {
		margin:3rem 0 0;
		width:100%;
	}
	
	.row [class^="col-"]:nth-child(2) {
		margin-top:3rem;
	}
}

/* Reduce spacing between rows */
@media only screen and (max-width: 1023px) {
	.row.reduce-spacing [class^="col-"] {
		margin:1rem 2% 0;
	}
	
	.row.reduce-spacing [class^="col-"]:last-child {
		margin-right:0;
	}
	
	.row.reduce-spacing [class^="col-"]:nth-child(-n+2) {
		margin-top:0;
	}
	
	.row.reduce-spacing [class^="col-"]:nth-child(odd) {
		margin-left:0;
	}
	
	.row.reduce-spacing [class^="col-"]:nth-child(even) {
		margin-right:0;
	}
	
	.row.reduce-spacing [class*="-fifth"] {
		margin:1rem 0 0;
	}
	
	.row.reduce-spacing [class*="-fifth"]:nth-child(2) {
		margin-top:1rem;
	}
}

@media only screen and (max-width: 767px) {
	.row.reduce-spacing [class^="col-"] {
		margin:1rem 0 0;
	}
	
	.row.reduce-spacing [class^="col-"]:nth-child(2) {
		margin-top:1rem;
	}
}

/* Reverse the order of columns when going full-width */
@media only screen and (max-width: 767px) {
	.row.reverse-order [class^="col-"] {
		margin:3rem 0 0;
	}
	
	.row.reverse-order [class^="col-"]:last-child {
		margin-top:0;
	}
	
	.row.reverse-order [class^="col-"]:nth-child(1) {
		-webkit-order:5;
		-moz-order:5;
		order:5;
	}
	
	.row.reverse-order [class^="col-"]:nth-child(2) {
		-webkit-order:4;
		-moz-order:4;
		order:4;
	}
	
	.row.reverse-order [class^="col-"]:nth-child(3) {
		-webkit-order:3;
		-moz-order:3;
		order:3;
	}
	
	.row.reverse-order [class^="col-"]:nth-child(4) {
		-webkit-order:2;
		-moz-order:2;
		order:2;
	}
	
	.row.reverse-order [class^="col-"]:nth-child(5) {
		-webkit-order:1;
		-moz-order:1;
		order:1;
	}
	
	.row.reverse-order.reduce-spacing [class^="col-"] {
		margin:1rem 0 0;
	}
	
	.row.reverse-order.reduce-spacing [class^="col-"]:last-child {
		margin-top:0;
	}
}

/* Force a minimum of two columns */
@media only screen and (max-width: 1023px) {
	.row.min-two-columns:not(.reverse-order) [class^="col-"] {
		margin:3rem 2% 0;
		width:48%;
	}
	
	.row.min-two-columns:not(.reverse-order) [class^="col-"]:last-child {
		margin-right:0;
	}
	
	.row.min-two-columns:not(.reverse-order) [class^="col-"]:nth-child(-n+2) {
		margin-top:0;
	}
	
	.row.min-two-columns:not(.reverse-order) [class^="col-"]:nth-child(odd) {
		margin-left:0;
	}
	
	.row.min-two-columns:not(.reverse-order) [class^="col-"]:nth-child(even) {
		margin-right:0;
	}
	
	.row.min-two-columns:not(.reverse-order) [class^="col-"]:last-child:nth-child(odd) {
		width:100%;
	}
	
	.row.min-two-columns:not(.reverse-order).reduce-spacing [class^="col-"] {
		margin:1rem 2% 0;
	}
	
	.row.min-two-columns:not(.reverse-order).reduce-spacing [class^="col-"]:last-child {
		margin-right:0;
	}
	
	.row.min-two-columns:not(.reverse-order).reduce-spacing [class^="col-"]:nth-child(-n+2) {
		margin-top:0;
	}
	
	.row.min-two-columns:not(.reverse-order).reduce-spacing [class^="col-"]:nth-child(odd) {
		margin-left:0;
	}
	
	.row.min-two-columns:not(.reverse-order).reduce-spacing [class^="col-"]:nth-child(even) {
		margin-right:0;
	}
}

/* Remove gutter between columns */
.row.no-gutter .col-one-half {
	width:50%;
}

.row.no-gutter .col-one-third {
	width:33.3333333333%;
}

.row.no-gutter .col-one-fourth {
	width:25%;
}

.row.no-gutter .col-one-fifth {
	width:20%;
}

.row.no-gutter .col-two-thirds {
	width:66.6666666667%;
}

.row.no-gutter .col-two-fourths {
	width:50%;
}

.row.no-gutter .col-two-fifths {
	width:40%;
}

.row.no-gutter .col-three-fourths {
	width:75%;
}

.row.no-gutter .col-three-fifths {
	width:60%;
}

.row.no-gutter .col-four-fifths {
	width:80%;
}

.row.no-gutter [class^="col-"] {
	margin:0!important;
}

@media only screen and (max-width: 1023px) {
	.row.no-gutter [class^="col-"] {
		width:50%;
	}
	
	.row.no-gutter [class*="-fifth"] {
		width:100%;
	}
}

@media only screen and (max-width: 767px) {
	.row.no-gutter [class^="col-"] {
		width:100%;
	}
}

/* -----------------------------------------------------------------------------

# Tools - Align

----------------------------------------------------------------------------- */
.center {
	text-align:center;
}

.left {
	float:left;
	text-align:left;
}

.right {
	float:right;
	text-align:right;
}

.middle {
	display:table;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-ms-flex-pack:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}

@media only screen and (max-width: 1023px) {
	.center-desktop {
		text-align:center;
	}
}

@media only screen and (max-width: 767px) {
	.center-tablet {
		text-align:center;
	}
}

@media only screen and (max-width: 479px) {
	.center-mobile {
		text-align:center;
	}
}

/* -----------------------------------------------------------------------------

# Tools - Background

----------------------------------------------------------------------------- */
.bg-dark {
	background:#110f24;
}

.bg-light {
	background:#f6f6f9;
}

.bg-primary {
	background:#575bde;
}

.bg-white {
	background:#fff;
}

/* Gradients */
.bg-gradient-dark {
	background:#05050b;
	background:-webkit-linear-gradient(#110f24 0%,#05050b 100%);
	background:-moz-linear-gradient(#110f24 0%,#05050b 100%);
	background:-ms-linear-gradient(#110f24 0%,#05050b 100%);
	background:-o-linear-gradient(#110f24 0%,#05050b 100%);
	background:linear-gradient(#110f24 0%,#05050b 100%);
}

.bg-gradient-light {
	background:#f6f6f9;
	background:-webkit-linear-gradient(#fff 0%,#f6f6f9 100%);
	background:-moz-linear-gradient(#fff 0%,#f6f6f9 100%);
	background:-ms-linear-gradient(#fff 0%,#f6f6f9 100%);
	background:-o-linear-gradient(#fff 0%,#f6f6f9 100%);
	background:linear-gradient(#fff 0%,#f6f6f9 100%);
}

.bg-gradient-blue {
	background:#0957d9;
	background:-webkit-linear-gradient(#2584e0 0%,#0957d9 100%);
	background:-moz-linear-gradient(#2584e0 0%,#0957d9 100%);
	background:-ms-linear-gradient(#2584e0 0%,#0957d9 100%);
	background:-o-linear-gradient(#2584e0 0%,#0957d9 100%);
	background:linear-gradient(#2584e0 0%,#0957d9 100%);
}

.bg-gradient-cyan {
	background:#04b2db;
	background:-webkit-linear-gradient(#1ac8e2 0%,#04b2db 100%);
	background:-moz-linear-gradient(#1ac8e2 0%,#04b2db 100%);
	background:-ms-linear-gradient(#1ac8e2 0%,#04b2db 100%);
	background:-o-linear-gradient(#1ac8e2 0%,#04b2db 100%);
	background:linear-gradient(#1ac8e2 0%,#04b2db 100%);
}

.bg-gradient-green {
	background:#39cfa2;
	background:-webkit-linear-gradient(#67dbb8 0%,#39cfa2 100%);
	background:-moz-linear-gradient(#67dbb8 0%,#39cfa2 100%);
	background:-ms-linear-gradient(#67dbb8 0%,#39cfa2 100%);
	background:-o-linear-gradient(#67dbb8 0%,#39cfa2 100%);
	background:linear-gradient(#67dbb8 0%,#39cfa2 100%);
}

.bg-gradient-indigo {
	background:#313fae;
	background:-webkit-linear-gradient(#606cc3 0%,#313fae 100%);
	background:-moz-linear-gradient(#606cc3 0%,#313fae 100%);
	background:-ms-linear-gradient(#606cc3 0%,#313fae 100%);
	background:-o-linear-gradient(#606cc3 0%,#313fae 100%);
	background:linear-gradient(#606cc3 0%,#313fae 100%);
}

.bg-gradient-olive {
	background:#85b99e;
	background:-webkit-linear-gradient(#aacdb5 0%,#85b99e 100%);
	background:-moz-linear-gradient(#aacdb5 0%,#85b99e 100%);
	background:-ms-linear-gradient(#aacdb5 0%,#85b99e 100%);
	background:-o-linear-gradient(#aacdb5 0%,#85b99e 100%);
	background:linear-gradient(#aacdb5 0%,#85b99e 100%);
}

.bg-gradient-pink {
	background:#dc60a3;
	background:-webkit-linear-gradient(#e58cba 0%,#dc60a3 100%);
	background:-moz-linear-gradient(#e58cba 0%,#dc60a3 100%);
	background:-ms-linear-gradient(#e58cba 0%,#dc60a3 100%);
	background:-o-linear-gradient(#e58cba 0%,#dc60a3 100%);
	background:linear-gradient(#e58cba 0%,#dc60a3 100%);
}

.bg-gradient-sienna {
	background:#c4a495;
	background:-webkit-linear-gradient(#d5bfab 0%,#c4a495 100%);
	background:-moz-linear-gradient(#d5bfab 0%,#c4a495 100%);
	background:-ms-linear-gradient(#d5bfab 0%,#c4a495 100%);
	background:-o-linear-gradient(#d5bfab 0%,#c4a495 100%);
	background:linear-gradient(#d5bfab 0%,#c4a495 100%);
}

.bg-gradient-violet {
	background:#7421db;
	background:-webkit-linear-gradient(#9e3ee2 0%,#7421db 100%);
	background:-moz-linear-gradient(#9e3ee2 0%,#7421db 100%);
	background:-ms-linear-gradient(#9e3ee2 0%,#7421db 100%);
	background:-o-linear-gradient(#9e3ee2 0%,#7421db 100%);
	background:linear-gradient(#9e3ee2 0%,#7421db 100%);
}

.bg-gradient-blue-violet {
	background:rgba(64,95,216,1);
	background:-moz-linear-gradient(-45deg,rgba(64,95,216,1) 0%,rgba(52,56,177,1) 18%,rgba(49,25,144,1) 48%,rgba(51,5,76,1) 100%);
	background:-webkit-gradient(left top,right bottom,color-stop(0%,rgba(64,95,216,1)),color-stop(18%,rgba(52,56,177,1)),color-stop(48%,rgba(49,25,144,1)),color-stop(100%,rgba(51,5,76,1)));
	background:-webkit-linear-gradient(-45deg,rgba(64,95,216,1) 0%,rgba(52,56,177,1) 18%,rgba(49,25,144,1) 48%,rgba(51,5,76,1) 100%);
	background:-o-linear-gradient(-45deg,rgba(64,95,216,1) 0%,rgba(52,56,177,1) 18%,rgba(49,25,144,1) 48%,rgba(51,5,76,1) 100%);
	background:-ms-linear-gradient(-45deg,rgba(64,95,216,1) 0%,rgba(52,56,177,1) 18%,rgba(49,25,144,1) 48%,rgba(51,5,76,1) 100%);
	background:linear-gradient(135deg,rgba(64,95,216,1) 0%,rgba(52,56,177,1) 18%,rgba(49,25,144,1) 48%,rgba(51,5,76,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#405fd8',endColorstr='#33054c',GradientType=1);
}

.bg-gradient-deep-blue {
	background-image:linear-gradient(to top,#f3e7e9 0%,#e3eeff 99%,#e3eeff 100%);
}

.bg-gradient-shadow {
	background-image:linear-gradient(60deg,#29323c 0%,#485563 100%);
}

/* Advanced backgrounds */
[class*="bg-image-"] {
	overflow:hidden;
	position:relative;
	z-index:0;
}

[class*="bg-image-"]:before,[class*="bg-image-"]:after {
	background-position:center!important;
	background-repeat:no-repeat!important;
	background-size:cover!important;
	bottom:-1px;
	content:"";
	height:101%;
	left:-1%;
	position:absolute;
	top:-1px;
	width:102%;
}

[class*="bg-image-"]:before {
	z-index:-1;
}

[class*="bg-image-"]:after {
	z-index:-2;
}

/* Overlay */
.overlay:before {
	background:rgba(255,255,255,0.7);
}

.dark.overlay:before {
	background:rgba(17,15,36,0.7);
}

.overlay-shape:before {
	background:url(../media/bg/shape-dark-05.svg);
}

/* Bg Image */
.bg-image-01:after {
	background:url(../media/bg/matias-coll.png);
}

@media only screen and (max-width: 479px) {
	.bg-image-01:after {
		background:url(../media/bg/matias-coll.png);
	}
}

.bg-image-02:after {
	background:url(../media/bg/contacto@2x.jpg);
}

@media only screen and (max-width: 479px) {
	.bg-image-02:after {
		background:url(../media/bg/contacto.jpg);
	}
}

.bg-image-hero:after {
	background:#575bde;
	background:-webkit-linear-gradient(140deg,#00d7af 25%,#575bde 100%);
	background:-moz-linear-gradient(140deg,#00d7af 25%,#575bde 100%);
	background:-ms-linear-gradient(140deg,#00d7af 25%,#575bde 100%);
	background:-o-linear-gradient(140deg,#00d7af 25%,#575bde 100%);
	background:linear-gradient(140deg,#00d7af 25%,#575bde 100%);
}

/* -----------------------------------------------------------------------------

# Tools - Divider

----------------------------------------------------------------------------- */
.divider {
	border-bottom:1px solid #ececee;
	margin:3rem 0;
	width:100%;
}

.dark .divider {
	border-bottom:1px solid #110f24;
}

/* -----------------------------------------------------------------------------

# Tools - Full Screen

----------------------------------------------------------------------------- */
.full-screen {
	min-height:calc(100vh);
	width:100%;
}

@media all and (-ms-high-contrast: none) {
	.full-screen {
		display:block;
		min-height:0;
		padding-bottom:8rem!important;
		padding-top:8rem!important;
	}
}

/* -----------------------------------------------------------------------------

# Tools - Full Width

----------------------------------------------------------------------------- */
.full-width {
	width:100%!important;
}

@media only screen and (max-width: 767px) {
	.full-width-tablet {
		width:100%!important;
	}
}

@media only screen and (max-width: 479px) {
	.full-width-mobile {
		width:100%!important;
	}
}

/* -----------------------------------------------------------------------------

# Tools - Max Width

----------------------------------------------------------------------------- */
[class*="max-width-"] {
	margin:0 auto;
	width:100%;
}

.max-width-s {
	max-width:400px;
}

.max-width-m {
	max-width:800px;
}

.max-width-l {
	max-width:1200px;
}

/* -----------------------------------------------------------------------------

# Tools - Min Width

----------------------------------------------------------------------------- */
[class*="min-width-"] {
	margin:0 auto;
}

.min-width-s {
	min-width:400px;
}

.min-width-m {
	min-width:800px;
}

.min-width-l {
	min-width:1200px;
}

/* -----------------------------------------------------------------------------

# Tools - Opacity

----------------------------------------------------------------------------- */
.opacity-s {
	opacity:.9!important;
}

.opacity-m {
	opacity:.4!important;
}

.opacity-l {
	opacity:.1!important;
}

/* -----------------------------------------------------------------------------

# Tools - Rounded

----------------------------------------------------------------------------- */
.rounded {
	-webkit-border-radius:.5rem;
	-moz-border-radius:.5rem;
	border-radius:.5rem;
}

.rounded-bottom {
	-webkit-border-bottom-left-radius:.5rem;
	-moz-border-radius-bottomleft:.5rem;
	border-bottom-left-radius:.5rem;
	-webkit-border-bottom-right-radius:.5rem;
	-moz-border-radius-bottomright:.5rem;
	border-bottom-right-radius:.5rem;
}

.rounded-top {
	-webkit-border-top-left-radius:.5rem;
	-moz-border-radius-topleft:.5rem;
	border-top-left-radius:.5rem;
	-webkit-border-top-right-radius:.5rem;
	-moz-border-radius-topright:.5rem;
	border-top-right-radius:.5rem;
}

/* -----------------------------------------------------------------------------

# Tools - Shadow

----------------------------------------------------------------------------- */
.shadow-s {
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	box-shadow:0 1px 3px rgba(0,0,0,0.1);
}

.shadow-m {
	-webkit-box-shadow:0 8px 16px rgba(0,0,0,0.1);
	-moz-box-shadow:0 8px 16px rgba(0,0,0,0.1);
	box-shadow:0 8px 16px rgba(0,0,0,0.1);
}

.shadow-l {
	-webkit-box-shadow:0 32px 40px rgba(0,0,0,0.1);
	-moz-box-shadow:0 32px 40px rgba(0,0,0,0.1);
	box-shadow:0 32px 40px rgba(0,0,0,0.1);
}

.shadow-none {
	-webkit-box-shadow:none!important;
	-moz-box-shadow:none!important;
	box-shadow:none!important;
}

/* -----------------------------------------------------------------------------

# Tools - Spacing

----------------------------------------------------------------------------- */
.padding {
	padding:5rem;
}

@media only screen and (max-width: 1023px) {
	.padding {
		padding:3rem;
	}
}

@media only screen and (max-width: 767px) {
	.padding {
		padding:3rem 1rem;
	}
}

.padding-bottom {
	padding-bottom:12rem;
}

@media only screen and (max-width: 1023px) {
	.padding-bottom {
		padding-bottom:10rem;
	}
}

@media only screen and (max-width: 767px) {
	.padding-bottom {
		padding-bottom:8rem;
	}
}

.padding-top {
	padding-top:12rem;
}

@media only screen and (max-width: 1023px) {
	.padding-top {
		padding-top:10rem;
	}
}

@media only screen and (max-width: 767px) {
	.padding-top {
		padding-top:8rem;
	}
}

/* Add spacing above content */
@media only screen and (max-width: 767px) {
	.padding-top-tablet {
		padding-top:8rem;
	}
}

/* Add spacing above or below content */
.margin-bottom {
	margin-bottom:5rem;
}

.margin-bottom-4 {
	margin-bottom:4rem;
}

@media only screen and (max-width: 1023px) {
	.margin-bottom {
		margin-bottom:3rem;
	}
}

.margin-top {
	margin-top:5rem;
}

@media only screen and (max-width: 1023px) {
	.margin-top {
		margin-top:3rem;
	}
}

/* Negative spacing */
.-margin-bottom {
	margin-bottom:-5rem;
}

@media only screen and (max-width: 1023px) {
	.-margin-bottom {
		margin-bottom:-3rem;
	}
}

.-margin-bottom-2 {
	margin-bottom:-10rem;
}

@media only screen and (max-width: 1023px) {
	.-margin-bottom-2 {
		margin-bottom:-6rem;
	}
}

/* Default spacing */
.space {
	margin:1rem;
}

.space-bottom {
	margin-bottom:1rem;
}

.space-left {
	padding-left:1rem;
}

.space-right {
	padding-right:1rem;
}

.space-top {
	margin-top:1rem;
}

/* Remove spacing */
.space-none {
	margin:0;
}

.space-bottom-none {
	margin-bottom:0;
}

.space-left-none {
	padding-left:0;
}

.space-right-none {
	padding-right:0;
}

.space-top-none {
	margin-top:0;
}

/* -----------------------------------------------------------------------------

# Components - Alerts

----------------------------------------------------------------------------- */
.alert {
	-webkit-border-radius:.1875rem;
	-moz-border-radius:.1875rem;
	border-radius:.1875rem;
	background:#f6f6f9;
	margin-bottom:1rem;
	padding:1rem;
}

.alert.alert-default {
	border-left:3px solid #ccced0;
}

.alert.alert-error {
	border-left:3px solid #e52b20;
}

.alert.alert-success {
	border-left:3px solid #63ce63;
}

.alert.alert-warning {
	border-left:3px solid #ffbf2f;
}

.dark .alert {
	background:#110f24;
}

/* -----------------------------------------------------------------------------

# Components - Buttons

----------------------------------------------------------------------------- */
.button {
	font-size:1rem;
	font-weight:400;
	line-height:1.5rem;
	font-weight:700;
	-webkit-border-radius:3rem;
	-moz-border-radius:3rem;
	border-radius:3rem;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
	display:inline-block;
	height:3rem;
	line-height:3rem;
	padding:0 1.25rem;
	text-align:center;
}

.button.button-s {
	font-size:.75rem;
	font-weight:400;
	line-height:1rem;
	font-weight:700;
	height:2rem;
	line-height:2rem;
	padding:0 .75rem;
}

.button.button-m {
	font-size:.875rem;
	font-weight:400;
	line-height:1rem;
	font-weight:700;
	height:2.5rem;
	line-height:2.5rem;
	padding:0 1rem;
}

.button.button-l {
	font-size:1.125rem;
	font-weight:400;
	line-height:1.5rem;
	font-weight:700;
	height:3.5rem;
	line-height:3.5rem;
	padding:0 1.5rem;
}

.button.button-primary {
	background:#393ed8;
	background:-webkit-linear-gradient(140deg,#575bde 25%,#393ed8 100%);
	background:-moz-linear-gradient(140deg,#575bde 25%,#393ed8 100%);
	background:-ms-linear-gradient(140deg,#575bde 25%,#393ed8 100%);
	background:-o-linear-gradient(140deg,#575bde 25%,#393ed8 100%);
	background:linear-gradient(140deg,#575bde 25%,#393ed8 100%);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	box-shadow:0 1px 3px rgba(0,0,0,0.1);
	color:#fff;
}

.button.button-primary:hover {
	background:#575bde;
	background:-webkit-linear-gradient(140deg,#575bde 25%,#575bde 100%);
	background:-moz-linear-gradient(140deg,#575bde 25%,#575bde 100%);
	background:-ms-linear-gradient(140deg,#575bde 25%,#575bde 100%);
	background:-o-linear-gradient(140deg,#575bde 25%,#575bde 100%);
	background:linear-gradient(140deg,#575bde 25%,#575bde 100%);
	-webkit-box-shadow:0 8px 16px rgba(0,0,0,0.1);
	-moz-box-shadow:0 8px 16px rgba(0,0,0,0.1);
	box-shadow:0 8px 16px rgba(0,0,0,0.1);
	-webkit-transform:translateY(-1px);
	-moz-transform:translateY(-1px);
	-ms-transform:translateY(-1px);
	-o-transform:translateY(-1px);
	transform:translateY(-1px);
}

.button.button-secondary {
	background:#ececee;
	color:#110f24;
}

.button.button-secondary:hover {
	-webkit-transform:translateY(-1px);
	-moz-transform:translateY(-1px);
	-ms-transform:translateY(-1px);
	-o-transform:translateY(-1px);
	transform:translateY(-1px);
	background:#f6f6f9;
	color:#575bde;
}

.dark .button.button-secondary {
	background:rgba(255,255,255,0.1);
	color:#fff;
}

.dark .button.button-secondary:hover {
	background:rgba(255,255,255,0.4);
}

.button.button-disabled {
	background:#ccced0;
	color:#110f24;
	cursor:default;
	opacity:.4;
	pointer-events:none;
}

.button.button-close {
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	box-shadow:0 1px 3px rgba(0,0,0,0.1);
	background:#fff;
	display:block;
	height:4rem;
	line-height:2rem;
	opacity:.9;
	padding:1rem;
	position:fixed;
	right:1rem;
	text-align:center;
	top:1rem;
	width:4rem;
	z-index:10;
}

.button.button-close:before {
	direction:ltr;
	display:inline-block;
	font-family:"Material Icons";
	font-feature-settings:liga;
	font-size:1.5rem;
	font-style:normal;
	font-weight:400;
	letter-spacing:normal;
	line-height:1;
	text-rendering:optimizeLegibility;
	text-transform:none;
	white-space:nowrap;
	word-wrap:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	color:#110f24;
	content:"close";
	line-height:2rem;
/* Prevent text from icon name to show up before load */
}

.preload .button.button-close:before {
	font-size:0;
}

.button.button-close:hover {
	opacity:1;
}

@media only screen and (max-width: 767px) {
	.button.button-primary:hover,.button.button-secondary:hover {
		-webkit-box-shadow:none!important;
		-moz-box-shadow:none!important;
		box-shadow:none!important;
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}
	
	.button.button-close {
		position:absolute;
	}
}

@media only screen and (max-width: 479px) {
	.button {
		height:3.5rem;
		line-height:3.5rem;
	}
	
	.button.button-s {
		height:2.5rem;
		line-height:2.5rem;
	}
	
	.button.button-m {
		height:3rem;
		line-height:3rem;
	}
	
	.button.button-l {
		height:4rem;
		line-height:4rem;
	}
}

/* -----------------------------------------------------------------------------

# Components - Card

----------------------------------------------------------------------------- */
.card {
	-webkit-border-radius:.5rem;
	-moz-border-radius:.5rem;
	border-radius:.5rem;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	box-shadow:0 1px 3px rgba(0,0,0,0.1);
	background:#fff;
}

.card.dark {
	background:#1d1a3d;
}

.card-content {
	padding:2rem;
}

@media only screen and (max-width: 479px) {
	.card-content {
		padding:1.5rem;
	}
}

/* -----------------------------------------------------------------------------

# Components - Footer

----------------------------------------------------------------------------- */
.footer-main a:not(.button) {
	font-size:.875rem;
	font-weight:400;
	line-height:1rem;
	color:#110f24;
	opacity:.9;
}

.footer-main a:not(.button):hover {
	color:#575bde;
	opacity:1;
}

.footer-main p {
	opacity:.9;
}

.footer-main input[type="email"] {
	background:#fff;
}

.footer-main .copyright {
	font-size:.75rem;
	font-weight:400;
	line-height:1rem;
	opacity:.7;
}

.footer-main .copyright a {
	font-size:.75rem;
	font-weight:400;
	line-height:1rem;
	opacity:1;
}

.footer-main .copyright a:hover {
	color:inherit;
}

.footer-main.dark a:not(.button) {
	color:#fff;
}

@media only screen and (max-width: 1023px) {
	.footer-main a:not(.button) {
		font-size:1rem;
		font-weight:400;
		line-height:1.5rem;
	}
	
	.footer-main .copyright a {
		font-size:.75rem;
		font-weight:400;
		line-height:1rem;
	}
}

/* -----------------------------------------------------------------------------

# Components - Forms

----------------------------------------------------------------------------- */
form {
/* Checkboxes and radio buttons */
/* Switch */
}

form label {
	font-size:1rem;
	font-weight:400;
	line-height:1.5rem;
	font-weight:700;
	line-height:2.5rem;
}

form input[type="email"],form input[type="password"],form input[type="text"],form select,form textarea {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	font-size:1rem;
	font-weight:400;
	line-height:1.5rem;
	-webkit-border-radius:.1875rem;
	-moz-border-radius:.1875rem;
	border-radius:.1875rem;
	background:#f6f6f9;
	border:1px solid #ececee;
	color:#110f24;
	padding:.5rem .75rem;
	width:100%;
}

form input[type="email"]:focus,form input[type="password"]:focus,form input[type="text"]:focus,form select:focus,form textarea:focus {
	border:1px solid #ccced0;
	outline:none;
}

form input[type="email"],form input[type="password"],form input[type="text"],form select,form .select-wrapper {
	height:2.5rem;
}

form .select-wrapper {
	position:relative;
}

form .select-wrapper:before {
	direction:ltr;
	display:inline-block;
	font-family:"Material Icons";
	font-feature-settings:liga;
	font-size:1.5rem;
	font-style:normal;
	font-weight:400;
	letter-spacing:normal;
	line-height:1;
	text-rendering:optimizeLegibility;
	text-transform:none;
	white-space:nowrap;
	word-wrap:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	color:#110f24;
	content:"keyboard_arrow_down";
	height:2.5rem;
	line-height:2.5rem;
	pointer-events:none;
	position:absolute;
	right:0;
	text-align:center;
	top:0;
	width:2.5rem;
}

form .select-wrapper select {
	cursor:pointer;
}

form .select-wrapper select::-ms-expand {
	display:none;
}

form textarea {
	min-height:10rem;
}

form input[type="checkbox"],form input[type="radio"] {
	display:none;
}

form input[type="checkbox"]:checked + label.checkbox:before,form input[type="checkbox"]:checked + label.radio:before,form input[type="radio"]:checked + label.checkbox:before,form input[type="radio"]:checked + label.radio:before {
	background:#575bde;
}

form input[type="checkbox"]:checked + label.checkbox:after,form input[type="checkbox"]:checked + label.radio:after,form input[type="radio"]:checked + label.checkbox:after,form input[type="radio"]:checked + label.radio:after {
	color:#fff;
}

form label.checkbox,form label.radio {
	font-size:1rem;
	font-weight:400;
	line-height:1.5rem;
	cursor:pointer;
	display:block;
	line-height:2.5rem;
	padding-left:2rem;
	position:relative;
	width:fit-content;
	-webkit-tap-highlight-color:transparent;
}

form label.checkbox:before,form label.radio:before {
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
	background:#ececee;
	content:"";
	height:1.5rem;
	left:0;
	position:absolute;
	top:.5rem;
	width:1.5rem;
}

.dark form label.checkbox:before,.dark
form label.radio:before {
	background:#fff;
}

form label.checkbox:after,form label.radio:after {
	direction:ltr;
	display:inline-block;
	font-family:"Material Icons";
	font-feature-settings:liga;
	font-size:1.5rem;
	font-style:normal;
	font-weight:400;
	letter-spacing:normal;
	line-height:1;
	text-rendering:optimizeLegibility;
	text-transform:none;
	white-space:nowrap;
	word-wrap:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
	color:transparent;
	content:"check";
	font-size:1.25rem;
	height:1.5rem;
	left:0;
	line-height:1.5rem;
	pointer-events:none;
	position:absolute;
	text-align:center;
	top:.5rem;
	width:1.5rem;
}

form label.checkbox:last-child,form label.radio:last-child {
	margin-bottom:0;
}

form label.checkbox:before {
	-webkit-border-radius:.1875rem;
	-moz-border-radius:.1875rem;
	border-radius:.1875rem;
}

form label.radio:before {
	-webkit-border-radius:.75rem;
	-moz-border-radius:.75rem;
	border-radius:.75rem;
}

form input.switch {
	display:none;
}

form input.switch:checked + label.switch:before {
	background:#575bde;
}

form input.switch:checked + label.switch:after {
	left:26px;
}

form label.switch {
	cursor:pointer;
	display:block;
	height:32px;
	width:fit-content;
	-webkit-tap-highlight-color:transparent;
}

form label.switch:before {
	-webkit-border-radius:16px;
	-moz-border-radius:16px;
	border-radius:16px;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
	background:#ececee;
	content:"";
	display:block;
	height:32px;
	width:56px;
}

.dark form label.switch:before {
	background:rgba(255,255,255,0.1);
}

form label.switch:after {
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	border-radius:14px;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
	background:#fff;
	content:"";
	display:block;
	height:28px;
	left:2px;
	position:relative;
	top:-30px;
	width:28px;
}

form .form-group {
	margin-bottom:1rem;
	position:relative;
}

form .form-help {
	font-size:.875rem;
	font-weight:400;
	line-height:1rem;
	color:#110f24;
	opacity:.4;
}

@media only screen and (max-width: 767px) {
	form .row.unequal [class^="col-"].unequal {
		margin:0;
	}
}

@media only screen and (max-width: 479px) {
	form input[type="email"],form input[type="password"],form input[type="text"],form select,form .select-wrapper {
		height:3rem;
	}
	
	form .select-wrapper:before {
		height:3rem;
		line-height:3rem;
		width:3rem;
	}
}

/* -----------------------------------------------------------------------------

# Components - Header

----------------------------------------------------------------------------- */
.no-scroll {
	overflow:hidden;
}

.header-main {
	background:transparent;
	position:fixed;
	top:0;
	width:100%;
	z-index:1;
}

.header-main nav {
	display:inline-block;
	padding:2rem;
	width:100%;
}

.header-main.fade-in nav {
	-webkit-box-shadow:0 8px 16px rgba(0,0,0,0.1);
	-moz-box-shadow:0 8px 16px rgba(0,0,0,0.1);
	box-shadow:0 8px 16px rgba(0,0,0,0.1);
	background:rgba(17,15,36,0.8);
	padding:1rem 2rem;
}

.header-main.fade-in nav .logo img,.header-main.fade-in nav.logo svg {
	height:1.5rem;
}

.header-main.fade-in nav .social li a {
	width:2rem;
	height:2rem;
	line-height:2rem;
}

.header-main.fade-in a:not(.button) {
	color:#fff;
}

.header-main.fade-in a:not(.button):hover {
	color:#fff;
}

.header-main.fade-in .nav-toggle:before {
	color:#fff;
}

.header-main a:not(.button) {
	color:#110f24;
	font-weight:600;
	height:2.5rem;
	line-height:2.5rem;
	opacity:.7;
}

.header-main a:not(.button):hover {
	color:#575bde;
	opacity:1;
}

.header-main a:not(.button).active {
	opacity:1;
}

.header-main ul.inline {
	display:inline-block;
	margin:0;
}

.header-main ul.inline li {
	margin-bottom:0;
	padding-right:1rem;
}

.header-main .nav-toggle {
	display:none;
}

.header-main.dark a:not(.button) {
	color:#fff;
}

.header-main.dark a:not(.button):hover {
	color:#fff;
}

.header-main.dark .nav-toggle:before {
	color:#fff;
}

.social li {
	padding-right:.5rem!important;
}

.social li a {
	width:3rem;
	padding:0;
}

@media only screen and (max-width: 767px) {
	.header-main nav {
		padding:.5rem .75rem;
	}
	
	.header-main a:not(.button):hover {
		color:#110f24;
	}
	
	.header-main ul.inline {
		display:none;
	}
	
	.header-main .nav-toggle {
		-webkit-transition:all .2s;
		-moz-transition:all .2s;
		-ms-transition:all .2s;
		-o-transition:all .2s;
		transition:all .2s;
		cursor:pointer;
		display:inline-block;
		float:right;
		height:2.5rem;
		text-align:center;
		width:1.5rem;
	}
	
	.header-main .nav-toggle:before {
		direction:ltr;
		display:inline-block;
		font-family:"Material Icons";
		font-feature-settings:liga;
		font-size:1.5rem;
		font-style:normal;
		font-weight:400;
		letter-spacing:normal;
		line-height:1;
		text-rendering:optimizeLegibility;
		text-transform:none;
		white-space:nowrap;
		word-wrap:normal;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		color:#110f24;
		content:"menu";
		line-height:2.5rem;
	/* Prevent text from icon name to show up before load */
	}
	
	.preload .header-main .nav-toggle:before {
		font-size:0;
	}
	
	.header-main.active {
		height:100%;
	}
	
	.header-main.active nav {
		-webkit-box-shadow:none!important;
		-moz-box-shadow:none!important;
		box-shadow:none!important;
		-webkit-transition:none!important;
		-moz-transition:none!important;
		-ms-transition:none!important;
		-o-transition:none!important;
		transition:none!important;
		background:#110f24;
		height:100%;
		overflow-y:scroll;
		-webkit-overflow-scrolling:touch;
	}
	
	.header-main.active a:not(.button) {
		color:#fff;
	}
	
	.header-main.active a:not(.button):hover {
		color:#fff;
	}
	
	.header-main.active ul.inline {
		display:block;
		width:100%;
	}
	
	.header-main.active ul.inline li {
		font-size:1.5rem;
		font-weight:400;
		line-height:2rem;
		margin-bottom:.5rem;
		padding:0;
		text-align:center;
		width:100%;
	}
	
	.header-main.active ul.inline li a:not(.button) {
		font-weight:400;
		line-height:3rem;
	}
	
	.header-main.active .nav-toggle {
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-o-transform:rotate(90deg);
		transform:rotate(90deg);
	}
	
	.header-main.active .nav-toggle:before {
		color:#fff;
		content:"close";
	}
	
	.header-main.active .button {
		-webkit-transition:none!important;
		-moz-transition:none!important;
		-ms-transition:none!important;
		-o-transition:none!important;
		transition:none!important;
		height:3.5rem;
		line-height:3.5rem;
		margin-top:1rem;
	}
	
	.header-main.active .button-secondary {
		background:rgba(255,255,255,0.1);
		color:#fff;
	}
	
	.header-main.active .button-secondary:hover {
		background:rgba(255,255,255,0.1);
	}
}

/* -----------------------------------------------------------------------------

# Components - Icons

----------------------------------------------------------------------------- */
.feature-icons {
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	background:rgba(17,15,36,0.04);
	color:#110f24;
	font-size:3rem;
	height:6rem;
	line-height:6rem;
	margin-bottom:1rem;
	text-align:center;
	width:6rem;
}

.dark .feature-icons {
	background:rgba(255,255,255,0.1);
	color:#fff;
}

.preload .feature-icons {
	font-size:0;
}

/* -----------------------------------------------------------------------------

# Components - List

----------------------------------------------------------------------------- */
ol,ul {
	margin:0 0 1rem;
	padding-left:1.25rem;
}

ol.blank,ul.blank {
	list-style:none;
	padding:0;
}

ol.inline,ul.inline {
	padding-left:0;
}

ol.inline li,ul.inline li {
	display:inline-block;
	padding-right:1rem;
	vertical-align:top;
}

ol.inline li:last-child,ul.inline li:last-child {
	padding-right:0;
}

/* -----------------------------------------------------------------------------

# Components - Logo

----------------------------------------------------------------------------- */
.logo {
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
	color:#110f24;
	display:block;
	float:left;
	font-size:1.5rem;
	font-weight:900;
	height:2.5rem;
	letter-spacing:.5px;
	line-height:2.5rem;
	margin-right:4rem;
	opacity:1!important;
}

.logo span {
	display:inline-block;
	font-family:"PT Serif",Georgia,serif;
	vertical-align:top;
}

.logo img,.logo svg {
	height:2.5rem;
	margin:.25rem;
}

.dark .logo {
	color:#fff;
}

@media only screen and (max-width: 767px) {
	.logo {
		-webkit-transition:none!important;
		-moz-transition:none!important;
		-ms-transition:none!important;
		-o-transition:none!important;
		transition:none!important;
	}
	
	.logo img,.logo svg {
		height: 1.8rem;
		margin: .4rem;
	}
}

/* -----------------------------------------------------------------------------

# Components - Pricing

----------------------------------------------------------------------------- */
.pricing-price {
	font-weight:400;
}

.pricing-duration {
	font-size:.75rem;
	font-weight:400;
	line-height:1rem;
}

/* -----------------------------------------------------------------------------

# Components - Table

----------------------------------------------------------------------------- */
table {
	-webkit-border-radius:.1875rem;
	-moz-border-radius:.1875rem;
	border-radius:.1875rem;
	background:#f6f6f9;
	border-collapse:collapse;
	margin-bottom:1rem;
	width:100%;
}

table tr {
	border-bottom:1px solid #ececee;
}

table tr:last-child {
	border-bottom:none;
}

table th {
	-webkit-border-top-left-radius:.1875rem;
	-moz-border-radius-topleft:.1875rem;
	border-top-left-radius:.1875rem;
	-webkit-border-top-right-radius:.1875rem;
	-moz-border-radius-topright:.1875rem;
	border-top-right-radius:.1875rem;
	padding:1rem;
	text-align:left;
}

table td {
	padding:1rem;
}

.dark table {
	background:#110f24;
}

.dark table tr {
	border-bottom:1px solid #05050b;
}

.dark table tr:last-child {
	border-bottom:none;
}

/* -----------------------------------------------------------------------------

# Pages - Onboarding

----------------------------------------------------------------------------- */
.page-onboarding .form-help {
	line-height:2.5rem;
	position:absolute;
	right:0;
	top:0;
}

.page-onboarding .featured-image {
	height:100%;
	position:fixed;
	right:0;
}

@media only screen and (max-width: 767px) {
	.page-onboarding .featured-image {
		height:12rem;
		position:relative;
	}
}

/* -----------------------------------------------------------------------------

# Components - Services

----------------------------------------------------------------------------- */
.icon-service {
	width:128px;
	margin-bottom:20px;
}

/* -----------------------------------------------------------------------------

# Components - Bitcoin Button

----------------------------------------------------------------------------- */
.btn-bitcoin {
	width:180px;
}

/* -----------------------------------------------------------------------------

# METHODOLOGY

----------------------------------------------------------------------------- */

#particles-js {
	position:relative;
}

.particles-js-canvas-el {
	position:absolute;
	left:0;
	top:0;
}

#methodology h2 {
	color:#5463CD;
}

@media only screen and (max-width: 767px) {
	
	#methodology .row  {
		flex-direction: column;
	}
	#methodology .row .col-one-third {
		margin-top: 0;
		order: 1;
		text-align: center;
	}
	#methodology .row .col-two-thirds {
		order: 2;
	}
	#methodology .paragraph {
		margin-bottom: 30px;
	}
	
}
@keyframes w1 {
	from {
		transform: rotate(0deg) translate(-68px) rotate(0deg);
	}	
	to {
		transform: rotate(360deg) translate(-68px) rotate(-360deg);
	}
}

@keyframes w2 {
	from {
		transform: rotate(0deg) translate(-94px) rotate(0deg);
	}	
	to {
		transform: rotate(-360deg) translate(-94px) rotate(360deg);
	}
}

@keyframes c1 {
	from {
		transform: rotate(0deg);
	}	
	to {
		transform: rotate(360deg);
	}
}

@keyframes c2 {
	from {
		transform: rotate(360deg);
	}	
	to {
		transform: rotate(0deg);
	}
}

#way {
	position: relative;
}
#wayball1,
#wayball2,
#wayball3,
#wayball4,
#wayball5,
#wayball6 {
	cy: 271;
	cx: 286;
}
#wayball1 { animation: w1 8s infinite linear; }
#wayball3 { animation: w1 4s infinite linear; }
#wayball5 { animation: w1 2s infinite linear; }
#wayball2 { animation: w2 6s infinite linear; }
#wayball4 { animation: w2 9s infinite linear; }
#wayball6 { animation: w2 11s infinite linear; }
#waycircle1 {
	animation: c1 25s infinite linear;
	transform-origin: 286.4px 271px;
}
#waycircle2 {
	animation: c2 10s infinite linear;
	transform-origin: 286.4px 271px;
}

/* -----------------------------------------------------------------------------

# HERO

----------------------------------------------------------------------------- */

#hero .padding {
	padding: 5rem 0 5rem 5rem;
}
@media only screen and (max-width: 767px) { 
	#hero .padding {
		padding: 5rem 5rem 0 5rem;
	}
}
@media only screen and (max-width: 479px) { 	
	#hero .padding {
		padding: 5rem 1rem 0 1rem;
	}
	h1.hero {
    	font-size: 2rem;
		line-height: 2.5rem;
	}
	.lead {
    	font-size: 1.3rem;
    	line-height: 1.6rem;
	}
	.btn-bitcoin {
    	width: 150px;
	}
}

/* -----------------------------------------------------------------------------

# BLOCKCHAIN

----------------------------------------------------------------------------- */

.bg-image-blockchain:before {
	background: url("../media/bg/shape-07.svg");
}
#blockchain .col-one-third {
	text-align: center;
}

/* -----------------------------------------------------------------------------

# SERVICES

----------------------------------------------------------------------------- */

#services h2,#services h6 {
	color: #5463CD;
}
#services .col-one-fourth {
	width: 25%;
	margin: 0;
}
#services .col-one-fourth {
	padding: 10px 0;
	border-right: 1px solid rgba(84,102,198,0.3);
}
#services .col-one-fourth:last-child {
	border: 0;
}
#services .technologies {
	margin-bottom: 50px;
}
@media only screen and (max-width: 767px) { 	
	#services .col-one-fourth {
		width: 50%;		
		padding-left: 20px;
		padding-right: 20px;
	}	
	#services .col-one-fourth:nth-child(1),
	#services .col-one-fourth:nth-child(2) {
		padding-bottom: 25px;
		border-bottom: 1px solid rgba(84,102,198,0.3);
	}
	#services .col-one-fourth:nth-child(2) {
		border-right: 0;
	}
	#services .col-one-fourth:nth-child(3),
	#services .col-one-fourth:nth-child(4) {
		padding-top: 25px;
	}
	#services .technologies {
		margin-bottom: 0;
	}
	#services .row .col-one-eighth {
		margin-top: 3rem;
		width: 25%;
	}
}
#services .technologies h6 {
	font-size:13px;
}

#services .technologies img {
	height:42px;
	margin-bottom:10px;
}

#services .technologies ul {
	padding:0;
	list-style-type:none;
}

#services .technologies ul li {
	margin-bottom:5px;
	border-bottom:1px solid rgba(84,102,198,0.2);
	padding-bottom:5px;
	text-align:left;
}

#services .technologies ul li i {
	margin-right:10px;
}

/* -----------------------------------------------------------------------------

# CLIENTS

----------------------------------------------------------------------------- */

#clients .client-logo {
	width: 200px;
}
#clients .margin-bottom {
	margin-bottom: 3rem;
}

/* -----------------------------------------------------------------------------

# FOOTER

----------------------------------------------------------------------------- */

footer .card.dark {
	background: rgba(29,27,59,0.1);
	box-shadow: none;
}
.logo-footer {
	width: 80px;
	margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
	footer form {
		text-align: center;
	}
}


